<div class="container">
    <div class="content-wrapper">
        <mat-form-field appearance="fill">
            <textarea
                [(ngModel)]="text"
                matInput
                cdkTextareaAutosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                placeholder="Say something..."></textarea>

        </mat-form-field>
        <div class="new-post-actions-container">
            <button
                mat-raised-button
                (click)="post()"
                class="post-button">post</button>
            <mat-form-field class="image-button">
                <ngx-mat-file-input
                    class="image-input"
                    #removeableinput
                    placeholder="upload image"
                    (change)="onPreselected($event)"></ngx-mat-file-input>
                <button
                    mat-icon-button
                    matSuffix
                    *ngIf="!removeableinput.empty"
                    (click)="removeableinput.clear($event)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <mat-card class="post-card" *ngFor="let post of posts.reverse(); let i=index">
            <mat-card-header>
                <mat-card-title>{{post.userName}}</mat-card-title>
            </mat-card-header>
            <img
                *ngIf="(post.imageURL!=='')"
                [src]="post.imageURL"
                alt="image"
                mat-card-image>
                <mat-card-content>
                    <p>
                        {{post.text}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        (click)="like(post.id)"
                        class="like-button"
                        mat-icon-button
                        disableRipple="true">
                        <mat-icon>
                            {{post?.likes?.indexOf(UsersService.user.id)>=0 ?  'favorite' :'favorite_border'}}
                        </mat-icon>
                    </button>
                    <span>{{post?.likes?.length }}
                        liked it</span>
                </mat-card-actions>
                <div class="comments-container">
                    <div class="comments">
                        <p *ngFor="let comment of post.comments">
                            <b>{{comment.userName}}
                                :
                            </b>{{comment.comment}}
                        </p>
                    </div>
                </div>

                    <mat-form-field class="comment-form-field">
                        <input
                            matInput
                            [(ngModel)]="commentText[i]"
                            type="text"
                            placeholder="Add a comment"></mat-form-field>
                        <button
                            class="comment-button"
                            mat-button  mat-raised-button
                            (click)="comment(post.id,i)">comment</button>
                </mat-card>
            </div>
        </div>
